@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-method ="post" asp-action="Summary">
    <p>Hello, we don't currently have you registered in you systems. Please fill out the form below.'</p>
    
    <p>First name</p>
    <input type ="text" name="firstName"/>
    <p>Last name</p>
    <input type="text" name="lastName" />
    <p>email</p>
    <input type="text" name="email" />
    <p>Password</p>
    <input type="password" name="password" />
    <input type="submit" />

</form>